.catalog__wrapper {
  margin-top: 30px;
}

.catalog__product {
  margin-bottom: 30px;
}

.catalog__list {
  .reset-list();
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .catalog__wrapper {
    margin-top: 70px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__wrapper {
    margin-top: 113px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__item {
    width: 316px;
    height: auto;
  }
}
