.contacts {
  width: @page-width;
  margin: 0 auto;
  padding-top: 40px;
}

.contacts__title {
  .container;
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__field {
  .container;
  color: @additional-color;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.contacts__email {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts__address {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.contacts__map {
  margin-bottom: 38px;
}

.contacts__button {
  padding: 14px 72px;
  margin: 0 auto;
}
