.contacts__wrapper {
  padding-top: 40px;
}

.contacts__title {
  margin-bottom: 33px;
  font-size: 18px;
  line-height: 30px;
}

.contacts__field {
  color: @additional-color;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.contacts__caption {
  margin-right: 28px;
}

.contacts__email {
  display: flex;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.contacts__address {
  display: flex;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
}

.contacts__map {
  margin-bottom: 38px;
}

.contacts__button {
  display: flex;
  padding: 13px 40px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .contacts__field {
    display: flex;
    flex-direction: row;
  }

  .contacts__email,
  .contacts__address {
    width: 334px;
  }

  .contacts__map {
    width: 768px;
  }

  .contacts__button {
    width: 150px;
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__map {
    width: 526px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__info {
    width: 525px;
  }

  .contacts__button {
    display: inline-block;
    margin-top: -300px;
    margin-left: 200px;
  }
}
