.featured {
  .container;
}

.featured__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  color: @fancy-color;
  font-size: 17px;
  line-height: 20px;
}

.featured__product-name {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  font-size: 25px;
  line-height: 30px;
}

.featured__descr {
  margin: 0;
  padding: 0;
  color: @additional-color;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.featured__table {
  margin-bottom: 27px;
}

.featured__image {
  margin-bottom: 23px;
}

.featured__price {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  color: @additional-color;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.featured__button {
  padding: 14px 80px;
  margin-bottom: 35px;
  font-size: 17px;
}
