.featured {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 1100px;
    height: 6px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
  }
}

.featured__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.featured__title {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  color: @fancy-color;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.featured__product-name {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
  z-index: 1;
}

.featured__descr {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  color: @additional-color;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.featured__table {
  margin-bottom: 28px;
}

.featured__image {
  margin-bottom: 21px;
}

.featured__price {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  color: @additional-color;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.featured__button {
  padding: 14px 80px 14px 85px;
  margin-bottom: 35px;
  font-size: 17px;
}

@media (min-width: @tablet-width) {
  .featured {
    &::after {
      bottom: 2px;
      width: 1110px;
      height: 15px;
    }
  }

  .featured__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 42px;
    padding-bottom: 45px;
  }

  .featured__title {
    width: 122px;
    margin: 0;
    margin-top: 12px;
    line-height: 17px;
    text-align: center;
  }

  .featured__product-name {
    width: 500px;
    margin: 0;
    margin-left: -3px;
    margin-bottom: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__item {
    width: 334px;
  }

  .featured__descr {
    width: 300px;
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 30px;
  }

  .featured__image {
    width: 333px;
    margin-top: 8px;
  }

  .featured__price {
    margin-left: -45px;
    margin-bottom: 35px;
    font-size: 20px;
  }

  .featured__button {
    padding: 14px 98px;
    margin-bottom: 0;
    font-size: 17px;
  }

  .featured__item--order {
    margin-top: -135px;
  }
}

@media (min-width: @desktop-width) {
  .featured {
    &::after {
      bottom: -2px;
      width: 1300px;
      height: 21px;
    }
  }

  .featured__wrapper {
    padding-bottom: 67px;
  }

  .featured__title {
    order: -1;
    margin-top: 95px;
    margin-left: 20px;
  }

  .featured__product-name {
    width: auto;
    margin-right: 352px;
    margin-top: 80px;
    margin-bottom: 48px;
    font-size: 53px;
    line-height: 57px;
  }

  .featured__item {
    width: auto;
  }

  .featured__descr {
    margin-left: 175px;
    margin-bottom: 45px;
  }

  .featured__table {
    margin-left: 175px;
  }

  .featured__image {
    width: 526px;
    margin-top: -160px;
    z-index: -1;
  }

  .featured__price {
    margin-left: 0;
  }

  .featured__button {
    padding-right: 100px;
  }

  .featured__item--order {
    margin-top: -136px;
    margin-left: 175px;
  }
}
