.form {
  border: none;
}

.form__list {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 18px;
  list-style: none;
}

.form__label {
  margin: 0;
  padding: 0;
}

.form__item {
  margin: 0;
  padding: 0;
  padding-left: 60px;
}

.form__inner {
  font-size: 17px;
  line-height: 18px;
}

.form__legend {
  color: @fancy-color;
  font-size: 17px;
  text-transform: uppercase;
}
