.form {
  border: none;
}

.form__list {
  font-size: 17px;
  line-height: 18px;
  list-style: none;
}

.form__inner {
  font-size: 17px;
  line-height: 18px;
}

.form__legend {
  color: @fancy-color;
  font-size: 17px;
  text-transform: uppercase;
}
