.form {
  margin: 0;
  padding: 0;
  border: none;
}

.form__legend {
  position: relative;
  padding: 0;
  margin: 0;
  color: @fancy-color;
  font-size: 17px;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #62d1ba;
  }
}

.form__list {
  .reset-list();
  font-size: 17px;
  line-height: 18px;
}

.form__item {
  margin: 0;
  padding: 0;
}

.form--type {
  margin-bottom: 43px;
}

.form__item--type {
  width: 190px;
  margin-bottom: 25px;
  padding-left: 62px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__legend--type {
  margin-bottom: 30px;
}

.form--color {
  margin-bottom: 40px;
}

.form__item--color {
  width: 190px;
  margin-bottom: 43px;
  padding-left: 62px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__legend--color {
  margin-bottom: 33px;
}

.form__input {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.form__input--radio + .form__label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -62px;
  width: 35px;
  height: 35px;
  border: 2px solid @additional-color;
  border-radius: 50%;
}

.form__input--radio:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -50px;
  width: 15px;
  height: 15px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.form__input--checkbox + .form__label::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -62px;
  width: 35px;
  height: 35px;
  border: 2px solid @additional-color;
}

.form__input--checkbox:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -59px;
  width: 33px;
  height: 23px;
  background: url("../img/icon-tick.svg") no-repeat center center;
  background-size: 70%;
}

.form__input--radio:not(:disabled) + .form__label:hover::before,
.form__input--radio:focus + .form__label::before,
.form__input--checkbox:not(:disabled) + .form__label:hover::before,
.form__input--checkbox:focus + .form__label::before {
  border-color: #62d1ba;
}

.form__input--radio:active:not(:disabled) + .form__label::before,
.form__input--checkbox:active:not(:disabled) + .form__label::before {
  border-color: #c7c7c7;
}

.form__input--radio:disabled + .form__label::before,
.form__input--checkbox:disabled + .form__label::before {
  border-color: #c7c7c7;
  cursor: auto;
}

.form__full-name {
  font-size: 17px;
  line-height: 18px;
}

.form__input--text {
  width: 260px;
  padding-top: 17px;
  padding-bottom: 14px;
  border-bottom: 2px solid #000000;
  font-size: 17px;
  line-height: 18px;
  color: @additional-color;
}

.form__item--text:hover input,
.form__item--message:hover textarea,
.form__item--text input:focus,
.form__item--message textarea:focus {
  border-color: #62d1ba;
}

.form__item--text:hover .form__icon,
.form__item--text input:focus + .form__icon,
.form__item--text input:active + .form__icon {
  fill: #62d1ba;
}

.form--name {
  margin-bottom: 30px;
}

.form__legend--name {
  margin-bottom: 27px;
}

.form--tel {
  margin-bottom: 32px;
}

.form__legend--tel {
  margin-bottom: 5px;
}

.form__input--tel {
  box-sizing: border-box;
  padding-right: 35px;
}

.form__item--text {
  position: relative;
  margin-bottom: 23px;

  &:last-child {
    margin-bottom: 0;
  }

  .form__icon {
    position: absolute;
    top: 10px;
    right: 8px;
    width: 25px;
    height: 25px;
  }
}

.form__legend--email {
  margin-bottom: 4px;

  &::after {
    left: 81px;
    width: 179px;
  }
}

.form--email {
  margin-bottom: 32px;
}

.form__input--email {
  box-sizing: border-box;
  padding-right: 40px;
}

.form__item--email {
  .form__icon {
    top: 11px;
    right: 5px;
    width: 32px;
    height: 32px;
  }
}

.form--message {
  margin-bottom: 12px;
}

.form__item--message {
  min-height: 146px;
}

.form__legend--message {
  margin-bottom: 22px;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  margin: 0;
  padding: 15px;
  font-size: 17px;
  line-height: 18px;
  color: @additional-color;
  border: 2px solid @additional-color;
}

.form__item--text input::-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__item--message textarea:-moz-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__item--text input::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__item--message textarea::-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
  }

  .form__legend {
    margin-bottom: -20px;

    &::after {
      display: none;
    }
  }

  .form__list,
  .form__input {
    font-size: 19px;
  }

  .form--type {
    margin-bottom: 68px;
  }

  .form__list--type {
    margin-left: 185px;
  }

  .form__item--type {
    width: 370px;
    margin-bottom: 58px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__input--radio + .form__label::before {
    top: -12px;
    left: -81px;
    width: 48px;
    height: 48px;
  }

  .form__input--radio:checked + .form__label::after {
    top: 5px;
    left: -65px;
    width: 20px;
    height: 20px;
  }

  .form__input--checkbox + .form__label::before {
    top: -11px;
    left: -80px;
    width: 50px;
    height: 48px;
  }

  .form__input--checkbox:checked + .form__label::after {
    top: 5px;
    left: -69px;
    width: 33px;
    height: 23px;
    background-size: 100%;
  }

  .form__item--color {
    width: 150px;
    margin-bottom: 58px;
    padding-left: 80px;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &:nth-child(2n+1) {
      margin-right: 32px;
    }
  }

  .form__list--checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 166px;
  }

  .form__full-name {
    margin-left: 168px;
    font-size: 19px;
  }

  .form__item--text {
    display: flex;
    min-height: 38px;
    margin-bottom: 38px;

    &:last-child {
      margin-bottom: 0;
    }

    .form__icon {
      top: -4px;
      right: 25px;
    }
  }

  .form__input--text {
    box-sizing: border-box;
    width: 375px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 25px;
    padding-left: 16px;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .form__item--text:first-child input {
    width: 428px;
    margin-left: 24px;
    padding-left: 16px;
  }

  .form--name {
    margin-bottom: 50px;
  }

  .form--tel {
    margin-bottom: 38px;
  }

  .form__input--tel,
  .form__input--email {
    width: 500px;
    margin-left: 167px;
    padding-left: 16px;
    background-color: #f1f1f1;
  }

  .form--email {
    margin-bottom: 18px;
  }

  .form__item--email {
    .form__icon {
      top: -4px;
      right: 22px;
    }
  }

  .form--message {
    margin-bottom: 35px;
  }

  .form__item--message {
    align-items: baseline;
    margin-left: 167px;
  }

  .form__textarea {
    width: 500px;
    margin-top: -15px;
    font-size: 19px;
  }
}

@media (min-width: @desktop-width) {
  .form__legend {
    margin-left: 60px;
  }

  .form__legend--type {
    margin-left: 64px;
  }

  .form__list--type {
    margin-left: 193px;
  }

  .form__list--checkbox {
    margin-left: 175px;
  }

  .form__item--color {
    width: 180px;
    padding-left: 81px;

    &:last-child,
    &:nth-last-child(2),
    &:nth-last-child(3) {
      margin-bottom: 0;
    }

    &:nth-child(2n+1) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-left: 4px;
    }
  }

  .form__full-name {
    margin-left: 176px;
  }

  .form__input--text {
    width: 573px;
  }

  .form__item--text:first-child input {
    width: 626px;
  }

  .form__item--text {
    width: 875px;

    .form__icon {
      top: -4px;
      right: 10px;
    }
  }

  .form__item--email {
    .form__icon {
      right: 5px;
    }
  }

  .form__input--tel,
  .form__input--email {
    width: 700px;
    margin-left: 175px;
  }

  .form--email {
    margin-bottom: 24px;
  }

  .form__textarea {
    width: 700px;
  }

  .form__item--message {
    margin-left: 175px;
  }

  .form--message {
    margin-bottom: 30px;
  }
}
