.header {
  background-color: #fafafa;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.header__wrapper {
  .wrapper();
  margin-bottom: 30px;
}

.header__title {
  padding-top: 70px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.header__list {
  .reset-list();
  display: flex;
  flex-direction: column;
  margin-top: 117px;
}

.header__item--interior {
  margin-left: auto;
}

.header__item--toys {
  margin-right: auto;
}

.header__link {
  display: block;
  width: 290px;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  background-color: @fancy-color;
}

.header__link--toys {
  background-color: #56c3b2;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    .wrapper(@tablet-width);
    margin-bottom: 40px;
  }

  .header__title {
    padding-top: 155px;
    font-size: 43px;
    line-height: 50px;
  }

  .header__list {
    flex-direction: row;
  }

  .header__link {
    width: 299px;
    padding-left: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: @desktop-width) {
  .header__wrapper {
    .wrapper(@desktop-width);
    margin-bottom: 68px;
  }

  .header__title {
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }

}
