.modal-order {
  display: none;
}

@media (min-width: @tablet-width) {
  .modal-order {
    position: fixed;
    top: 20%;
    left: 20%;
    display: none;
    padding: 32px 103px 49px 103px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #c6c6c6;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  }

  .modal-order__title {
    margin: 0;
    margin-bottom: 14px;
    font-size: 30px;
    line-height: 57px;
    text-align: center;
    text-transform: uppercase;
  }

  .modal-order__list {
    .reset-list();
    margin-bottom: 30px;
  }

  .modal-order__request {
    margin: 0;
    margin-bottom: 21px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
  }

  .modal-order__button {
    width: 350px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: @fancy-color;
    border: none;
  }
}
