.modal-order {
  line-height: 30px;
  text-align: center;
}

.modal-order__title {
  font-size: 25px;
  text-align: center;
}

.modal-order__list {
  list-style: none;
}

.modal-order__request {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
}

.modal-order__button {
  color: #ffffff;
  background-color: @fancy-color;
  border: none;
}
