@media (min-width: @desktop-width) {
  .offer-nav {
    display: flex;
    padding-top: 20px;
    padding-left: 15px;
  }

  .offer-nav__list {
    .reset-list();
    display: flex;
  }

  .offer-nav__link {
    padding-left: 35px;
    margin-right: 10px;
    color: #000000;
    font-size: 15px;
    line-height: 24px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .offer-nav__item {
    padding-right: 15px;
  }
}
