.page-main {
  border-top: 1px solid #ececec;
}

.page-main__header {
  margin-bottom: 30px;
  background-color: #f1f1f1;
}

.page-main__title {
  padding-top: 70px;
  padding-bottom: 74px;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .page-main {
    margin-top: -40px;
  }

  .page-main__header {
    margin-bottom: 85px;
  }

  .page-main__title {
    padding-top: 93px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__title {
    padding-top: 91px;
    font-size: 53px;
    line-height: 57px;
  }

  .page-main__header {
    margin-bottom: 158px;
  }
}
