.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: @page-width;
  margin: 0 auto;
}

.page-header__logo {
  margin-top: 22px;
  margin-bottom: 19px;
  text-align: center;
}

.page-header__logo a {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__offer-nav,
.page-header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    width: @tablet-width;
    margin: 0 auto;
  }

  .page-header__logo {
    margin-left: 48px;
    margin-right: 210px;
    margin-bottom: 0;

    img {
      width: 112px;
      height: auto;
    }
  }

  .page-header__main-nav {
    order: 1;
  }

  .page-header__delivery {
    display: inline;
    padding-top: 21px;
    padding-right: 50px;
    margin-left: 134px;
    order: 5;
    z-index: 1;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    margin: 0 auto;
  }

  .page-header__main-nav {
    order: 1;
  }

  .page-header__logo {
    margin-top: 8px;
    margin-left: 40px;
    margin-right: 100px;
    order: 2;

    img {
      width: 149px;
    }
  }

  .page-header__user-nav {
    order: 3;
  }

  .page-header__offer-nav {
    display: block;
    order: 4;
  }

  .page-header__delivery {
    margin-left: 480px;
  }
}
