.reviews__title {
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  list-style: none;
}

.reviews__text {
  color: @additional-color;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.reviews__author {
  font-size: 17px;
}

.reviews__author-name {
  line-height: 24px;
}

.reviews__author-link {
  color: @additional-color;
  line-height: 30px;
  font-weight: 400;
}
