.size__button {
  width: 80px;
  min-height: 50px;
  color: @additional-color;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  border: 2px solid #ececec;
  background-color: transparent;
}

.size__item {
  display: inline;
}
